body
{
	font-family: Lucids Console,sans-serif;
	background: #272629;
	color: #e0e0e0;
	margin-top: 50px;
}
header
{
	font-family: Lucida Sans Unicode,sans-serif;
	color: white;
	font-size: 50;
	text-shadow: 0 0 0.3em #29CFD1, 0 0 0.3em #29CFD1, 0 0 0.3em #29CFD1;
	background-color: #313033;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	margin-bottom: 50px;
	margin-left: 0px;
	margin-right: 0px;
	width: 99%;
}
h1
{
	font-size: 30;
	text-align: center;
}
h2
{
	font-size: 20;
}
p
{
	text-align: justify;
}
.ico
{
	width: 64;
	height: 64;
}
.ico:hover
{
	width: 73;
	height: 73;	
}
figure
{
	display: block;
	float: left;
	text-align: center;
	width: 90;
	height: 90;
}
figure:hover
{
	text-shadow: 0 0 0.3em #29CFD1, 0 0 0.3em #29CFD1, 0 0 0.3em #29CFD1;
}
br
{
	clear: left;
}
.block
{
	background-color: #313033;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 20px;
	margin-right: 100px;
	margin-left: 100px;
}
footer
{
	padding: 10px;
	background-color: #313033;
	border-radius: 10px 10px 0 0;
	margin-left: 0px;
	margin-right: 0px;
	width: 98%;
	align-content: center;
}
.menu
{
	display: flex;
	justify-content: space-between;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 30px;
	height: 20px;
}
.c
{
	text-decoration: none;
	color: white;
	font-size: 15px;
}
.c:hover
{
	font-size: 20px;
	text-shadow: 0 0 0.3em #29CFD1, 0 0 0.3em #29CFD1, 0 0 0.3em #29CFD1;
}
footer
{
	float: left;
}
.foot
{
	margin-right: 4px;
	float: right;
	
}
.icof
{
	height: 32;
	width: 32;
}
.icof:hover
{
	height: 37;
	width: 37;
}