*{
padding: 0;
margin:0;
}
body
{
	font-family: 'Roboto', sans-serif;
	background:#DFE3E4;
	color: #DFE3E4;
	font-size: 100%;
	display: flex;
  	min-height: 100vh;
  	flex-direction: column;
}

header
{
	background-color: #404055;
	padding: 1rem;
	margin-bottom: 1rem;
	box-shadow: 0 0.3rem 1rem 0 grey;
}
.logo
{
	font-family: 'Roboto', sans-serif;
	text-align: left;
	font-size: 200%;
	font-weight: 600;
}
.href
{
	display: flex;
	flex-direction:column;
	text-align: center;
}
.a
{
	text-decoration: none;
	color: #404055;
}
.h
{
	font-size: 120%;
	padding: 0.2rem;
	color: #404055;
}
.h:hover
{
	background-color: #DFE3E4;
}
.h:visited
{
	text-decoration: none;
	color: #404055;
}
article
{
	flex: 1;
}
.page
{
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	padding-left: 1.4rem;
	padding-right: 1.4rem;	
}
.shadow
{
	box-shadow: 0.15rem 0.15rem 1rem grey;
}
.block
{
	max-width: 34rem;
	margin: 1.5rem;
	display: flex;
	flex-direction: column;
	text-align: justify;
}
.name
{
	background-color: #404055;
	padding: 0.5rem;
	text-align: left;
	font-size: 180%;

}
.content
{
	background-color: white;
	text-align:justify;
	font-size: 110%;
	color: #1B1521;
}
.contents
{
	padding: 0.5rem;
}
footer
{
	background-color: #404055; 
	padding: 1rem;
	display: flex;
	flex-direction: row;
}
.invisible
{
	flex: 1;
}
.fa
{
	color: white;
}
