*{
padding: 0;
margin:0;
}
body
{
	font-family: Lucids Console,sans-serif;
	background:#546E7A;
	color: #ECEFF1;
	font-size: 100%;
	display: flex;
  	min-height: 100vh;
  	flex-direction: column;
}

header
{
	background-color: #37474F;
	padding: 1rem;
	margin-bottom: 1rem;
}
.logo
{
	font-family: Lucids Console,sans-serif;
	text-align: left;
	font-size: 200%;
	font-weight: 600;
}
a
{
	color: #ECEFF1;
	font-size: 0.4rem;
}
a:hover
{
	background-color: red;
}
a:visited
{
	color: #ECEFF1;
}
article
{
	flex: 1;
}
.stack
{
	display: flex;
	justify-content: space-around;
	margin-bottom: 1rem;
	padding-left: 5rem;
	padding-right: 5rem;
}
.block
{
	max-width: 33%;
	width: 40%;
	margin: 0.5rem;
	float: left;
	display: flex;
	flex-direction: column;
	text-align: justify;
}
.name
{
	background-color: #37474F;
	padding: 0.5rem;
	text-align: left;
	font-size: 180%;
}
.content
{
	background-color: #455A64;
	padding: 0.5rem;
	text-align:justify;
	font-size: 110%
}
footer
{
	background-color: #37474F; 
	text-align: left;
	padding: 1rem;
}
br
{
	clear: left;
}

.foot
{
	margin-right: 4px;
	float: right;
}
.icof
{
	height: 32;
	width: 32;
	background-color:#78909C;
	text-align: center;
}