* {
    padding: 0;
    margin: 0;
}

 * {transition: all .3s;}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #ACF0F2;

}

header {
    color: white;
    background-color: #1595A3;
    padding: 1rem;
    box-shadow: 0 0.3rem 1rem 0 grey;
    margin-bottom: 1.5rem;
}

.logo {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 250%;
    font-weight: 900;
}

article {
    flex: 1;
    color: white;
    font-size: 100%;

}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

.card {
    max-width: 60%;
    margin-left: 5% ;
    margin-right: 5%;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.blockshadow {
    box-shadow: 0.15rem 0.15rem 1rem grey;
}

.name {
    background-color: #1595A3;
    line-height:2.5rem;
    text-align: center;
    font-size: 180%;

}

.content {
    background-color: white;
    text-align: justify;
    font-size: 110%;
    color: #1B1521;
    padding: 1rem;

}

.link a {
    text-decoration: none;
    background-color: white;
    color: #1595A3;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 150%;
    padding: 0.2rem;
    margin: 0 0 0 0;
}

.link a:hover {
    background-color: #1595A3;
    color: white;
}

footer {
    color: #ACF0F2;
    background-color: #1595A3;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

footer a {
    color: white;
}

.spacer {
    flex: 1;
    visibility: hidden;
}

@media screen and (max-width:900px)
{
.card {
    max-width: 95rem;
    margin-left: 0 ;
    margin-right: 0;
}
.card-container {
    padding-left: 0;
    padding-right: 0;
}
.content {
    text-align: left;
}
.spacer {
    flex: 0;
    visibility: hidden;
}
footer {
    color: #ACF0F2;
    background-color: #1595A3;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align:center;
}
}
